<% content_for(:extra_body_classes, 'pages-home') %>

<section class="banner">
  <div class="hackfest-banner banner-picture">
    <div class="gradient"></div>
    <div class="banner-text-wrapper">
      <div class="banner-text">
        <div class="bracket">[</div>
        <div class="text">
          <h1>GREAT APPS BUILT<br>BY DESIGNERS<br>AND DEVELOPERS<br>DEDICATED TO<br>YOUR VISION.</h1>
        </div>
        <div class="bracket">]</div>
      </div>
    </div>
  </div>

  <div class="acl-gocode-banner banner-picture">
    <div class="gradient"></div>
    <div class="banner-text-wrapper">
      <div class="banner-text">
        <div class="bracket">{</div>
          <div class="text">
            <h1>BUILDING GREAT APPLICATIONS<br>AT 6512' ELEVATION</h1>
          </div>
          <div class="bracket">}</div>
        </div>
      </div>
    </div>
  </div>

  <div class="sneffels-banner banner-picture">
    <div class="banner-text-wrapper">
      <div class="banner-text">
        <div class="bracket">[</div>
        <div class="text">
          <h1>GREAT APPS BUILT<br>BY DESIGNERS<br>AND DEVELOPERS<br>DEDICATED TO<br>YOUR VISION.</h1>
        </div>
        <div class="bracket">]</div>
      </div>
    </div>
  </div>
</section>

<section class="about-us">
  <div class="about-us-wrapper">
    <h2>We build cutting edge web and mobile apps for the cloud.</h2>
    <p>
      We are a full-service software development studio proudly based in Durango, Colorado.<br/>
      Our expert developers turn your idea into the right solution.
    </p>
    <hr />
  </div>
</section>

<section class="services">
  <div class="service-container">
    <div class="service-container-icon">
      <i class="icon-mobile"></i>
    </div>
    <h4>Design &amp; Development</h4>
    <p>We build cutting edge web and mobile apps to solve problems for our clients.
      We take pride in building high quality applications that make a difference
      to your business and customers.
    </p>
  </div>

  <div class="service-container">
    <div class="service-container-icon">
      <i class="icon-continuous"></i>
    </div>
    <h4>Continuous Testing</h4>
    <p>You want your site to just work. We build an automated test suite to catch bugs
      before your users do. If we do find a bug, we'll write a test for it to make sure
      it doesn't happen again.
    </p>
  </div>

  <div class="service-container">
    <div class="service-container-icon">
      <i class="icon-cogs"></i>
    </div>
    <h4>Agile Development</h4>
    <p>We realize budgets are limited, and want to make sure your most important features
      are built first. We get your site working as soon as possible, so you can get feedback
      from your users and we can make your site as effective as possible.
    </p>
  </div>

  <div class="service-container">
    <div class="service-container-icon">
      <i class="icon-users"></i>
    </div>
    <h4>User Centered Design</h4>
    <p>People use your site, not developers. We encourage you to share your site with
      prospective users as we build it. We’ll take that feedback and improve the site so
      when you launch, it’s ready to go.
    </p>
  </div>

</section>

<section class="have-a-project-in-mind">
  <h3>Have a project in mind? Great, Let us know how we can help.</h3>
  <%= link_to "Tell Us About Your Vision", contact_path, class: "contact-link" %>
</section>

<section class="featured-projects">
  <a class="project gopago" href="#">
    <div class="overlay">
      <div class="featured-project-text">
        <h4>GoPago</h4>
        <h5>Credit Card Processing/<br/>Ruby on Rails</h5>
      </div>
    </div>
  </a>
  <a class="project recognized" href="#">
    <div class="overlay">
      <div class="featured-project-text">
        <h4>Recognized.io</h4>
        <h5>Accounting / Product Development / <br /> Ruby on Rails</h5>
      </div>
    </div>
  </a>
  <a class="project bike2020" href="#">
    <div class="overlay">
      <div class="featured-project-text">
        <h4>Bike 20/20</h4>
        <h5>Responsive Design / <br /> Ruby on Rails</h5>
      </div>
    </div>
  </a>
  <a class="project bizlink" href="#">
    <div class="overlay">
      <div class="featured-project-text">
        <h4>BizLink Inc.</h4>
        <h5>Public Data / Advanced Search / <br /> Ruby on Rails</h5>
      </div>
    </div>
  </a>
</section>

<section class="featured-case-study">
  <div class="case-study">
    <!-- <nav>
    <ul> -->
    <!-- <li><%= link_to "The Problem" %></li>
    <li><%= link_to "The Plan" %></li>
    <li><%= link_to "The Solution" %></li>
    <li><%= link_to "The Results" %></li>
  </ul>
</nav>-->
<div class="case-study-text">
  <h3>Case Study</h3>
  <h4>BizLink Colorado</h4>

  <p>In May 2014, Animas Code Labs helped the BizLink team take 2nd place out of 26 teams
    statewide in the inaugural <a href="http://gocode.colorado.gov" target="_blank">
      Go Code Colorado</a> apps challege. The team had 6 weeks to build a working application
    that made the 1.6 milion business listings registered with the State of Colorado,
    useful to the general public.

    <p>ACL leveraged their experience working with startups to quickly build the
      application, improve based on user feedback, and gain traction during the 6
      week competition. In the 8 days before the GoCode Colorado Finals the team
      got 42 business owners to claim their companies and start using our app.</p>
  </div>
</div>
</section>

<section class="featured-clients">
  <div class="logo-wrap"><%= image_tag "client-logos/bike2020.png", alt: "Bike 20/20" %></div>
  <div class="logo-wrap"><%= image_tag "client-logos/bizlink.png", alt: "BizLink Colorado" %></div>
  <div class="logo-wrap"><%= image_tag "client-logos/gopago.png", alt: "GoPago" %></div>
  <div class="logo-wrap"><%= image_tag "client-logos/creeklife.png", alt: "Creeklife" %></div>
  <div class="logo-wrap"><%= image_tag "client-logos/go-code.png", alt: "Go Code Colorado" %></div>
</section>

<section class="building-great-apps">
  <h3>Building Great Applications at 6512' Elevation.</h3>
  <%= link_to "Tell Us About Your Vision", contact_path, class: "contact-link" %>
</section>
