<!DOCTYPE html>
<html>
  <head>
    <%= metamagic title: "Animas Code Labs | Web and Mobile Apps built in Durango, Colorado" %>
    <%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Montserrat|Pontano+Sans' %>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header id="site-header">
      <div class="container">
        <%= image_tag "logo_acl.png", alt: "Animas Code Labs", class: "logo" %>   
        <nav id="site-nav">
          <ul>
            <li>Home</li>
            <li>Contact</li>
          </ul>
        </nav>
      </div>
    </header>

    <%= yield %>

  </body>
</html>
