<!DOCTYPE html>
<html>
  <head>
    <%= metamagic title: "Animas Code Labs | Web and Mobile Apps built in Durango, Colorado" %>
    <%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Montserrat|Pontano+Sans' %>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header id="site-header">
      <div class="container">
        <%= link_to root_path do %>
          <%= image_tag "logo_acl.png", alt: "Animas Code Labs", class: "logo" %>   
        <% end %>
        <nav id="site-nav">
          <ul>
            <li><%= link_to "Home", root_path %></li>
            <li><%= link_to "Contact", "#contact" %></li>
          </ul>
        </nav>
      </div>
    </header>

    <%= yield %>

    <footer id="site-footer">
      <div class="container">
        <div class="copyright">
          Animas Code Labs &copy; <%= Date.today.year %>
        </div>
        <nav class="site-footer-nav">
          <ul>
            <li><%= link_to "Home", root_path %></li>
            <li><%= link_to "Contact", "#contact" %></li>
          </ul>
        </nav>
      </div>
    </footer>

  </body>
</html>
